.navbar-nav{
    margin-left: 50%;
}

.nav-link{
    margin: 0px 4px;
    padding: 8px;
    color: #000000;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
   font-weight: 400;
    
}

.navbar {
    background: #b9b7b7;
}
/* .nav-link{
    font-size: 17px;
    color: aqua;
} */
 .navbar-brand{
    color: #000000E6;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}



.nav-t{
    height: 156px;
    width: 48px;
    font-size:27px;
    margin: 0px 0px 0px 8px;
    

}
.nav-t{
    text-decoration: none;
}


.bottom-banner{
    color:#fff;
    padding: 10px;

}

.bottom-banner{
    color: #fff;
    padding: 10px;

}

@media (min-width: 1648px) {
    .navbar-nav{
       font-size: larger
    }
}


@media screen and(min-width:0px) and (max-width:700) {
    .my-content,
    .txt-banner{
        display: none;
    }
    .vid-content{
        top: 12%;
        left: 60%;
    }

    .custom-nav .custom-nav-item a{
        padding: 10px 20px;
        background-color: #225670;
    }
    
    .custom-nav-item{
        background-color: none;
        
    }
}



.Large-title{
    font-weight: 700;
    text-transform: capitalize;
    /* font: 28px Montserrat,system,sans-serif; */
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0px 0px 20px;
   text-align: center;
   margin-top: 35px;
   font-size:xx-large;
   color: #000000;
   
}
.list-title2{
    text-transform: uppercase;
    text-decoration: underline;
}




.list-description{
    text-align: center;
    margin: 0px 0px 40px;
}

.btn{
    font-size: 1.30rem;
    font-weight: 500;
    padding: 8px 20px;
    line-height: 1.36;
    margin:10px;
    background-color: #006248;
    color: #fff;
    border: 3px solid #006248;


}

.btn:hover{
    background-color: #fff;
    color: green;
    border-color: green;
    text-decoration-line: underline;
    transition: .5s;
    cursor: pointer;
}
.btn2{
    font-size: 1.30rem;
    font-weight: 500;
    padding: 8px 20px;
    line-height: 1.36;
    margin:10px;
    background-color: 	#1E1C75;
    color: #fff;
    border: 3px solid 	#1E1C75;
    border-radius: 3px;
}
.btn2:hover{
    background-color: #fff;
    color: #1E1C75;
    border-color: #1E1C75;
    text-decoration-line: underline;
    transition: .5s;
    cursor: pointer;
}
.btn-secondary{
    background-color: red;
    color: #fff;
    border: 3px solid red;

}
.btn-secondary:hover{
    color: red;
    border-color: red;
    color: red;
}



